.header-content {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0 !important;
}

.nav-link.active {
  color: #ed3237 !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.navbar-brand-custom {
  max-width: 100px;
  height: auto;
  padding: 0;
}

.navbar-brand-custom > .image-brand {
  height: auto;
  width: 8rem;
}

.cover-img {
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.cover-img img {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 600px;
  min-width: 250px;
  padding-left: 7rem;
  padding-right: 7rem;
}

.card-content {
  width: 18rem;
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.card-content img {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 200px;
  min-width: 200px;
}

.footer-content {
  background-color: #ed3237;
  color: #fff;
  min-height: 40px;
}

@media (max-width: 992px) {
  .container-navbar {
    z-index: 999;
  }
  .navbar-collapse.collapse.show {
    height: 100vh;
    z-index: 999;
  }
  .navbar-nav {
    align-items: center !important;
    z-index: 999;
  }

  .cover-img {
    width: 100%;
    margin: 0;
    left: 0;
    right: 0;
  }

  .cover-img img {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 400px;
    padding: 0;
    left: 0;
    right: 0;
  }
}
